.navbar {
    background-color: var(--color-white-background);
    border-bottom: 0.5px solid var(--color-gray-line);

    padding: 24px 0;
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar-container .btn {
    margin-right: 56px;
}

.primary-navigation {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 48px;
    padding: 7rem 2rem 0 2rem;

    z-index: 1000;
    position: fixed;
    inset: 0 0 0 20%;

    background-color: var(--color-white-background);
    border-left: 0.5px solid var(--color-gray-line);

    transform: translateX(100%);
    transition: transform 350ms ease-out;
}

.primary-navigation[data-visible="true"] {
    transform: translateX(0%);
}

.nav-link-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
}

.nav-link-with-icon:hover .icon-svg {
    stroke: var(--color-primary-text);
}

.icon-svg {
    transition: all 280ms ease;
}

.mobile-nav-toggle {
    display: block;
    position: absolute;
    top: 24px;
    right: 24px;
    z-index: 9999;

    width: 45px;
    height: auto;
    aspect-ratio: 1;

    background-image: url(../assets/svg/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border-radius: 12px;
    border: 1px solid var(--color-gray-line);
}

.mobile-nav-toggle[aria-expanded="true"] {
    background-image: url(../assets/svg/close.svg);
}

.dropdown-menu {
    display: none;
    flex-direction: column;

    position: absolute;

    padding: 12px;

    background-color: var(--color-white-background);
    border: 0.8px solid var(--color-gray-line);
    border-radius: 12px;
    box-shadow: 0px 4px 40px 10px hsla(0, 0%, 81%, 0.2);

    z-index: 1100;
}

.dropdown-menu .navbar-text {
    display: block;
    border-radius: 8px;
    background-color: var(--color-white-background);
    padding: 6px;
    transition: all 280ms ease;
}

.dropdown-menu .navbar-text:hover {
    background-color: var(--color-primary-light);
}

.show {
    display: flex;
}

.navbar-buttons-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.navbar-container .navbar-buttons-container {
    margin-right: 54px;
}

.navbar-button {
    display: block;

    width: 45px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 12px;
    border: 1px solid var(--color-gray-line);

    cursor: pointer;
    transition: all 240ms ease-out;
}

.message {
    background-image: url(assets/svg/messages.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.notification {
    background-image: url(assets/svg/notifications.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

.navbar-button:hover {
    background-color: var(--color-gray);
}

.navbar-profile-photo {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.navbar-profile-photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.message-button {
    display: none;
}

.profile-button {
    order: 1;
}

.notification-button {
    order: 2;
}

.profile-button .dropdown-menu {
    z-index: 999;
}

@media only screen and (min-width: 1024px) {

    .navbar {
        padding: 20px;
    }

    .primary-navigation {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 32px;

        position: static;
        background-color: transparent;
        border-left: none;
        padding: 0;

        transform: translateX(0%);
    }

    .mobile-nav-toggle {
        display: none;
    }

    .navbar-container .btn {
        margin-right: 0;
    }

    .navbar-container .navbar-buttons-container {
        margin-right: 0;
    }

    .navbar-buttons-container {
        gap: 16px;
    }

    .message-button {
        display: block;
    }

    .profile-button {
        order: initial;
    }

    .notification-button {
        order: initial;
    }

}