:root {
    --inter: "Inter", sans-serif;

    --font-12px: 0.75rem;
    --font-14px: 0.875rem;
    --font-15px: 0.9375rem;
    --font-16px: 1rem;
    --font-18px: 1.125rem;
    --font-20px: 1.25rem;
    --font-24px: 1.5rem;
    --font-28px: 1.75rem;
    --font-32px: 2rem;
    --font-40px: 2.5rem;
    --font-44px: 2.75rem;
    --font-48px: 3rem;
    --font-56px: 3.5rem;
    --font-64px: 4rem;

    --font-light: 300;
    --font-regular: 400;
    --font-medium: 500;
    --font-semibold: 600;
    --font-semibold: 600;
    --font-bold: 700;
}


/*Navbar*/
.navbar-text {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-medium);
    color: var(--color-black-subtitle);
    letter-spacing: -0.02em;
    transition: color 280ms ease;
}

.navbar-text:hover {
    color: var(--color-primary-text);
}

.nav-link-with-icon:hover .navbar-text {
    color: var(--color-primary-text);
}

.dropdown-menu>li:hover .navbar-text {
    color: var(--color-primary-text);
}


/*Footer*/
.footer-headings {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-medium);
    color: var(--color-black-light);
    letter-spacing: -0.01em;
}

.footer-links a,
.footer-credits>p:first-child {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-medium);
    color: var(--color-black-subtitle);
    letter-spacing: -0.01em;
    transition: color 280ms ease;
}

.footer-links a:hover {
    color: var(--color-primary-text);
}

.footer-credits>p:last-child {
    font-family: var(--inter);
    font-size: var(--font-12px);
    font-weight: var(--font-regular);
    color: var(--color-black-subtitle);
    letter-spacing: -0.01em;
}

/*Landing Page*/
.hero-section__title h1 {
    font-family: var(--inter);
    font-size: var(--font-48px);
    font-weight: var(--font-semibold);
    color: var(--color-black);
    letter-spacing: -0.04em;
    line-height: 1.2;
}

.hero-section__info p {
    max-width: 550px;
}

/*General*/
.title-56 {
    font-family: var(--inter);
    font-size: var(--font-56px);
    font-weight: var(--font-semibold);
    color: var(--color-black);
    letter-spacing: -0.04em;
    line-height: 1.2;
}

.title-40 {
    font-family: var(--inter);
    font-size: var(--font-40px);
    font-weight: var(--font-semibold);
    color: var(--color-black);
    letter-spacing: -0.04em;
    line-height: 1.2;
}

.title-32 {
    font-family: var(--inter);
    font-size: var(--font-32px);
    font-weight: var(--font-semibold);
    color: var(--color-black);
    letter-spacing: -0.04em;
    line-height: 1.2;
}

.title-32-medium {
    font-family: var(--inter);
    font-size: var(--font-32px);
    font-weight: var(--font-medium);
    color: var(--color-black);
    letter-spacing: -0.04em;
    line-height: 1.2;
}

.title-18 {
    font-family: var(--inter);
    font-size: var(--font-18px);
    font-weight: var(--font-medium);
    color: var(--color-black);
    letter-spacing: -0.02em;
    line-height: 1.2;
}

.big-subtitle {
    font-family: var(--inter);
    font-size: var(--font-20px);
    font-weight: var(--font-regular);
    color: var(--color-black-light);
    letter-spacing: -0.03em;
    line-height: 1.4;
}

.subtitle-light {
    font-family: var(--inter);
    font-size: var(--font-18px);
    font-weight: var(--font-medium);
    color: var(--color-black-light);
    letter-spacing: -0.02em;
    line-height: 1.4;
}

.subtitle-18 {
    font-family: var(--inter);
    font-size: var(--font-18px);
    font-weight: var(--font-regular);
    color: var(--color-black-light);
    letter-spacing: -0.02em;
    line-height: 1.4;
}

.subtitle {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-regular);
    color: var(--color-black-subtitle);
    letter-spacing: -0.02em;
    line-height: 1.4;
}

.paragraph {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-regular);
    color: var(--color-black-subtitle);
    letter-spacing: -0.02em;
    line-height: 1.6;
}

.light-paragraph {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-regular);
    color: var(--color-black-light);
    letter-spacing: -0.02em;
}

.smaller-paragraph {
    font-family: var(--inter);
    font-size: var(--font-14px);
    font-weight: var(--font-regular);
    color: var(--color-black-subtitle);
    line-height: 1.4;
}

.smaller-paragraph-light {
    font-family: var(--inter);
    font-size: var(--font-14px);
    font-weight: var(--font-regular);
    color: var(--color-black-light);
    line-height: 1.4;
}

.link {
    font-weight: var(--font-semibold) !important;
    color: var(--color-primary-text) !important;
}

.bold-text {
    font-weight: var(--font-medium) !important;
    color: var(--color-black) !important;
}

.bolder-text {
    font-weight: var(--font-semibold) !important;
    color: var(--color-black) !important;
}

.black-color-text {
    color: var(--color-black) !important;
}

.red-color-text {
    color: var(--color-red-text) !important;
}

.primary-color-text {
    color: var(--color-primary-text) !important;
}

/*Formulario*/
.form-label {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-medium);
    color: var(--color-black);
    line-height: 1.4;
    letter-spacing: -0.01em;
}

input,
textarea {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-regular);
    color: var(--color-black);
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.helper-text {
    font-family: var(--inter);
    font-size: var(--font-14px);
    font-weight: var(--font-regular);
    color: var(--color-black-light);
    line-height: 1.5;
}

.error-text {
    font-family: var(--inter);
    font-size: var(--font-14px);
    font-weight: var(--font-regular);
    color: var(--color-red-text);
    line-height: 1.5;
}

.skill-search-options>li {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-regular);
    color: var(--color-black-subtitle);
    line-height: 1.5;
    letter-spacing: -0.01em;
}

.skill-search__selected>li {
    font-family: var(--inter);
    font-size: var(--font-14px);
    font-weight: var(--font-regular);
    color: var(--color-black);
    line-height: 1.5;
    letter-spacing: 0em;
}

/*Onboarding*/
.onboarding-input-box-with-description>div>label {
    font-family: var(--inter);
    font-size: var(--font-18px);
    font-weight: var(--font-medium);
    color: var(--color-black);
    line-height: 1.5;
    letter-spacing: -0.03em;
}

.onboarding-input-box-with-description>div>p {
    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-regular);
    color: var(--color-black-light);
    line-height: 1.4;
    letter-spacing: -0.02em;
}

/*Profile*/
.profile-username {
    font-family: var(--inter);
    font-size: var(--font-18px);
    font-weight: var(--font-medium);
    color: var(--color-primary-text);
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.profile-bio {
    font-family: var(--inter);
    font-size: var(--font-18px);
    font-weight: var(--font-regular);
    color: var(--color-black-subtitle);
    line-height: 1.4;
    letter-spacing: -0.02em;
    max-width: 48ch;
}

.profile-bio__details {
    font-family: var(--inter);
    font-size: var(--font-15px);
    font-weight: var(--font-regular);
    color: var(--color-black-light);
    line-height: 1.4;
    letter-spacing: -0.02em;
}

.big-number-stat-placeholder {
    font-family: var(--inter);
    font-size: var(--font-40px);
    font-weight: var(--font-regular);
    color: var(--color-gray-placeholder);
    letter-spacing: -0.02em;
}

/*Misc*/
.title-with-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.truncated-description-3 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}

.truncated-description-4 {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    text-overflow: ellipsis;
}