.signup-container,
.login-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: 100vh;
}

.signup-form {
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup-form__content-container {
    margin: 0 auto;
    padding: 80px 0;

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 80px;

    width: 100%;
    max-width: 480px;
}

.signup-form__content-container__form {
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.signup-form__content-container__form__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.signup-form__content-container__form>form {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.form__fullname {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    gap: 20px;
}

.signup-image {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color-primary-button);
}

.login-image {
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: var(--color-primary-button);
    background-image: url(../assets/svg/patron-login.svg);
    background-position: initial;
    background-repeat: repeat;
}

.signup-image img {
    /* width: 100%;
    height: 100%; */
    object-fit: cover;
}



@media (max-width: 1024px) {

    .signup-container,
    .login-container {
        grid-template-columns: 1fr;
    }

    .signup-form {
        align-items: flex-start;
    }

    .signup-form__content-container {
        width: 90%;
    }

    .form__fullname {
        flex-direction: column;
        gap: 32px;
    }

    .signup-image,
    .login-image {
        display: none;
    }

}