.new-project-page {
    display: flex;
    flex-direction: column;
    gap: 48px;

    padding: 64px 0;
}

.new-project-page__form {
    display: flex;
    flex-direction: column;
    gap: 48px;

    width: 100%;
}

.new-project-page__type {
    display: flex;
    flex-direction: column;
    gap: 24px;

    width: 100%;
}

.new-project-page__type__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.new-project-page__actions {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.create-project-page {
    display: flex;
    flex-direction: column;
    gap: 48px;

    width: 100%;
    padding: 64px 0;
}

.create-project__step{
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.create-project__header {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.create-project__header__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
}

.create-project__header__step {
    padding: 8px 12px;
    border-radius: 12px;
    background-color: var(--color-primary-light);
}

.create-project__form-with-inputs{
    display: flex;
    flex-direction: column;
    gap: 36px; 
}



@media only screen and (min-width: 1024px) {

    .new-project-page {
        gap: 80px;

        padding: 120px 0;
    }

    .new-project-page__title {
        text-align: center;
    }

    .new-project-page__form {
        gap: 80px;

        max-width: 553px;

        margin: 0 auto;
    }

    .new-project-page__type {
        gap: 32px;
    }

    .new-project-page__actions {
        flex-direction: row;
        justify-content: end;
    }

    .create-project-page {
        gap: 60px;

        max-width: 640px;
        padding: 120px 0;
        margin: 0 auto;
    }

}