.dashboard-tab-container {
    display: flex;
    flex-direction: column;
    gap: 32px;

    padding: 32px 0px 0px 0px;
}

.dashboard-tab__user-cards-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 24px;
}



@media only screen and (min-width: 1200px) {

    .dashboard-tab__user-cards-container {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
    }

}