.edit-profile-page {
    padding: 56px 0;
}

.edit-profile-page .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.edit-profile-page__content-container {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.edit-profile-page__form-container,
.edit-profile-page__form-container__with-title {
    display: flex;
    flex-direction: column;
    gap: 24px;

}

.edit-profile-page__form-container__space-between-inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 100%;
}

.edit-profile-page__form-container__title-with-subtitle {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}



@media (min-width: 1024px) {

    .edit-profile-page {
        padding: 120px 0;
    }

    .edit-profile-page .container {
        gap: 48px;
    }

    .edit-profile-page__content-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .edit-profile-page__content-container nav {
        width: 28%;
    }

    .edit-profile-page__content-container__form {
        width: 45%;
    }

    .edit-profile-page__form-container {
        gap: 32px;
        align-items: end;
    }

    .edit-profile-page__form-container__space-between-inputs {
        gap: 32px;
    }

}