.edit-profile-page {
    padding: 56px 0;
}

.edit-profile-page .container {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.edit-profile-page__content-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}



@media (min-width: 1024px) {

    .edit-profile-page {
        padding: 120px 0;
    }

    .edit-profile-page .container {
        gap: 48px;
    }

    .edit-profile-page__content-container {
        flex-direction: row;
        justify-content: space-between;
        gap: 0;
    }

    .edit-profile-page__content-container nav {
        width: 25%;
    }

    .edit-profile-page__content-container__form {
        width: 60%;
    }

}