.landing-page {
    margin-top: 80px;
}

/* Hero section */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 64px;

    margin-bottom: 148px;
}

.hero-section__info {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.hero-section__heading {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.title-with-faces {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    flex-wrap: wrap;

    margin-top: 10px;
}

.hero-section__title span {
    display: inline-block;
}

.hero-section__buttons {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.hero-section__photo {
    max-width: fit-content;
}

.hero-section__photo>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* About section */
.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 48px;

    margin-bottom: 148px;
}

.about-section__text-column {
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.about-section__text-column__title-and-text {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-section__text-column__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.about-section__text-column__text {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.about-section__text-column__project-types {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.about-section__text-column__project-types__cards {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.about-section__text-column__project-types__cards>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    width: 100%;
    padding: 12px;

    border: 1px solid var(--color-gray-line);
    border-radius: 16px;
}

.about-section__image-column {
    display: block;
    width: fit-content;
    min-width: fit-content;
    height: fit-content;
}

.about-section__image-column>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* How it works section */
.how-it-works-section {
    display: flex;
    flex-direction: column;
    gap: 32px;

    margin-bottom: 148px;
}

.how-it-works-section__title-with-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.how-it-works-section__title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;

    text-align: center;
}

.how-it-works-section___toggle {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 4px;

    width: fit-content;
    padding: 4px;

    border: 1px solid var(--color-gray-line);
    border-radius: 16px;
}

.how-it-works-section___toggle>p {
    padding: 10px 12px;

    color: var(--color-black-light);
    border: 1px solid transparent;
    border-radius: 14px;

    cursor: pointer;
}

.how-it-works-section__cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
}

.how-it-works-section__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 40px;

    padding: 40px 32px 0 32px;

    background-color: var(--color-gray);
    border-radius: 24px;
}

.how-it-works-section__card__number {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 40px;
    height: 40px;

    color: var(--color-primary-text);
    font-weight: var(--font-medium);

    border-radius: 50%;
    background-color: var(--color-white-background);
}

.how-it-works-section__card__text {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.how-it-works-section__card__img {
    display: block;
    width: fit-content;
    margin: 0 auto;
}

.how-it-works-section__card__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Features section */
.features-section {
    display: flex;
    flex-direction: column;
    gap: 56px;

    margin-bottom: 148px;
}

.features-section__title-with-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;

    text-align: center;
}

.features-section__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.features-section__features-cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features-section__features-card-left,
.features-section__features-cards-right__card {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;

    padding: 56px 32px 0 32px;

    background-color: var(--color-gray);
    border-radius: 24px;
}

.features-section__features-cards-right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.features-section__features-card__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Recent projects section */
.recent-projects-section {
    display: flex;
    flex-direction: column;
    gap: 40px;

    margin-bottom: 100px;
}

.recent-projects-section__title-with-text {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.recent-projects-section__title {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

/* Footer CTA section */
.footer-cta-section {
    display: flex;
    flex-direction: column;
    gap: 56px;
    
    margin-bottom: 100px;
}

.footer-cta-section__cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;

    text-align: center;
}

.footer-cta-section__img {
    display: none;
}



@media only screen and (min-width: 1024px) {

    .landing-page {
        margin-top: 120px;
    }

    /* Hero section */
    .hero-section {
        align-items: center;
        text-align: center;

        margin-bottom: 180px;
    }

    .hero-section__info {
        align-items: center;
    }

    .hero-section__heading {
        align-items: center;
    }

    .title-with-faces {
        justify-content: center;
        margin-top: 0px;
    }

    .hero-section__buttons {
        flex-direction: row;
        gap: 20px;
    }

    /* About section */
    .about-section {
        flex-direction: row;
        gap: 0;
        justify-content: space-between;

        margin-bottom: 180px;
    }

    .about-section__text-column {
        width: 50%;
    }

    .about-section__text-column__project-types__cards {
        flex-direction: row;
        justify-content: space-between;
        gap: 20px;
    }

    /* How it works section */
    .how-it-works-section {
        margin-bottom: 180px;
    }

    .how-it-works-section__cards {
        grid-template-columns: 1fr 1fr 1fr;
        gap: 32px;
    }

    /* Features section */
    .features-section {
        margin-bottom: 180px;
    }

    .features-section__title-with-text {
        max-width: 500px;
        margin: 0 auto;
    }

    .features-section__features-cards {
        flex-direction: row;
    }

    .features-section__features-card-left,
    .features-section__features-cards-right__card {
        padding: 80px 48px 0 48px;
    }

    /* Recent projects section */
    .recent-projects-section {
        margin-bottom: 180px;
    }

    /* Footer CTA section */
    .footer-cta-section {
        margin-bottom: 0;
    }

    .footer-cta-section__cta {
        max-width: 590px;
        margin: 0 auto;
    }

    .footer-cta-section__img {
        display: block;
    }

}