/*Página de mensajes*/
.messages-page {
    padding: 56px 24px;
}

.messages-page__desktop {
    display: flex;
    flex-direction: row;
    gap: 16px;
}


/*Chat list*/
.messages-page__chat-list {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 100%;
    max-width: 420px;
}

.messages-page__chat-list-with-tabs {
    display: flex;
    flex-direction: column;
    gap: 12px;
}


/*Chat item*/
.chat-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;

    padding: 16px;
    border-radius: 12px;

    cursor: pointer;
}

.chat-item-selected {
    background-color: var(--color-primary-light);
}

.chat-item__img {
    width: 48px;
    min-width: 48px;
    height: 48px;
    border-radius: 50%;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-item__img>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.chat-item__info {
    flex-grow: 1;
    overflow: hidden;

}

.chat-item__last-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


/*Chat*/
.messages-page__chat {
    flex-grow: 1;
}



@media only screen and (min-width: 1024px) {

    .messages-page {
        padding: 100px 0;
    }

}