.onboarding-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5rem;

    margin: 0 auto;
    padding: 7.5rem 0 7.5rem 0;

    width: 100%;
    max-width: 560px;
    min-height: 100vh;
}

.onboarding-page-container>div {
    width: 100%;

    display: flex;
    flex-direction: column;
    gap: 72px;
}

.onboarding-page-container__title {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: center;
}

.onboarding-page-buttons {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1rem;
}

.onboarding-form-1 {
    display: flex;
    flex-direction: column;
}

.onboarding-form-2 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 24px;

    font-family: var(--inter);
    font-size: var(--font-16px);
    font-weight: var(--font-regular);
    letter-spacing: -0.02em;
    line-height: 1.4;
}

.onboarding-checkbox {
    display: flex;
    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    padding: 48px 0px;

    color: var(--color-black-light);
    background-color: var(--color-white-background);
    border: 1px solid var(--color-gray-line);
    border-radius: 14px;

    cursor: pointer;
    transition: all 240ms ease-out;
}

.onboarding-checkbox:hover {
    background-color: var(--color-primary-selected);
}

.onboarding-checkbox:hover>* {
    cursor: pointer;
}

/* .onboarding-checkbox:hover .checkbox-circle {
    background-color: var(--color-primary-selected);
} */

.checkbox-checked {
    color: var(--color-primary-text);
    background-color: var(--color-primary-selected);
    border: 1px solid var(--color-primary-logo);
}

.checkbox-circle {
    display: flex;
    align-items: center;
    justify-content: center;

    position: absolute;
    top: -8px;
    right: -8px;

    width: 20px;
    height: 20px;

    background-color: var(--color-white-background);
    border: 1.5px solid var(--color-gray-line);
    border-radius: 50%;

    transition: all 240ms ease-out;
}

.checkbox-checked .checkbox-circle {
    background-image: url(../assets/svg/check.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: var(--color-primary-logo);

    border: 1.5px solid var(--color-primary-logo);
}

.hidden-checkbox {
    position: absolute;
    left: -10000000000000000000px;
    opacity: 0;
    cursor: pointer;
}



@media (max-width: 1024px) {

    .onboarding-page-container {
        align-items: flex-start;
        gap: 3rem;

        margin: 0 auto;
        padding: 5rem 0;

        width: 90%;
        max-width: 90%;
    }

    .onboarding-page-container__title {
        text-align: left;
    }

    .onboarding-page-buttons {
        justify-content: center;
    }

    .onboarding-form-2 {
        grid-template-columns: 1fr;
    }

    .onboarding-checkbox {
        padding: 52px 0px;
    }

}