.dashboard-tab__shortcuts-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.first-in-list {
    grid-column: 1;
    grid-row: 1;
}



@media only screen and (min-width: 700px) {

    .dashboard-tab__shortcuts-container {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media only screen and (min-width: 1024px) {

    .dashboard-tab__shortcuts-container {
        grid-template-columns: repeat(3, 1fr);
    }

}