.dashboard-tab__shortcuts-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 16px;
}

.shortcut-card-modal__content{
    display: flex;
    flex-direction: column;
    gap: 24px;
}



@media only screen and (min-width: 700px) {

    .dashboard-tab__shortcuts-container {
        grid-template-columns: repeat(2, 1fr);
    }

}



@media only screen and (min-width: 1200px) {

    .dashboard-tab__shortcuts-container {
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }

}