/*General*/
.btn {
    font-family: var(--inter);
    font-weight: var(--font-semibold);
    cursor: pointer;
    transition: all 280ms ease-out;
}

/*Colores*/
.btn-primary {
    background-color: var(--color-primary-button);
    color: var(--color-white-background);
}

.btn-secondary {
    background-color: var(--color-white-background);
    color: var(--color-black);
    border: 1px solid var(--color-gray-line);
}

/*Hover*/
.btn-primary:hover {
    background-color: var(--color-primary-text);
}

.btn-secondary:hover {
    background-color: var(--color-gray);
}

/*Tamaños*/
.btn-small {
    font-size: 16px;
    letter-spacing: -0.02em;
    /* min-height: 44px; */
    padding: 10px 13px;
    border-radius: 10px;
}

.btn-medium {
    font-size: 16px;
    letter-spacing: -0.02em;
    min-height: 48px;
    padding: 11px 16px;
    border-radius: 10px;
}

/*Width*/
.btn-fitcontent {
    width: fit-content;
}

.btn-fullwidth {
    width: 100%;
}

.btn-full-then-fit {
    width: 100%;
}

@media only screen and (min-width: 800px) {
    .btn-full-then-fit {
        width: fit-content;
    }
}

/*Botón con ícono*/
.btn-with-icon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}