/* Background del modal */
.modal-overlay {
    display: block;

    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;

    background: none;
    z-index: 9999999999;
}

/* Modal */
.modal {
    display: flex;
    flex-direction: column;
    gap: 32px;

    width: 100vw;
    height: 100vh;
    padding: 40px 24px;

    background-color: #fff;
}

/* Botón de cerrar el modal */
.modal-close {
    display: flex;
    justify-content: end;

    flex-shrink: 0;
}

.round-button-with-icon {
    display: block;
    width: 45px;
    height: auto;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid var(--color-gray-line);
    cursor: pointer;
    transition: all 240ms ease-out;
}

.round-button-with-icon:hover {
    background-color: var(--color-gray);
}

.close-icon {
    background-image: url(/../assets/svg/close.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
}

/* Contenedor del contenido del modal */
.modal-content{
    display: flex;
    flex-direction: column;
    gap: 24px;

    flex-grow: 1;
}

/* Encabezado del modal */
.modal-header {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

/* Cuerpo del modal */
.modal-body {
    max-height: 60vh;
    overflow-y: auto;
}

/* Footer del modal */
.modal-footer {
    display: flex;
    flex-direction: row;
    gap: 12px;

    flex-shrink: 0;

    position: sticky;/* Para que los botones estén siempre visibles al hacer scroll */
    bottom: 0;
}



@media only screen and (min-width: 768px) {

    .modal-overlay {
        background: rgba(0, 0, 0, 0.5);

        display: flex;
        justify-content: center;
        align-items: center;
    }

    .modal {
        width: 100%;
        max-width: 580px;
        height: auto;
        max-height: 80vh;
        padding: 32px;

        position: relative;

        border-radius: 32px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    }

    .modal-header {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .modal-footer {
        gap: 16px;
    }

}