.select {
    background-color: var(--color-white-background);
    border: 1px solid var(--color-gray-line);
    border-radius: 14px;
    padding: 16px;
    width: 100%;
}

.select:active,
.select:focus {
    outline: 1.5px solid var(--color-primary-logo);
    box-shadow: 0px 0px 8.6px 0px #5e71ee33;
}