.skill-search-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.skill-search {
    position: relative;
}

.skill-search-input {
    width: 100%;
    padding: 16px 16px 16px 50px;

    border-radius: 14px;
    border: 1px solid var(--color-gray-line);
    outline: 1px solid transparent;

    background: url(../../../public/assets/svg/search.svg);
    background-position: center left 20px;
    background-repeat: no-repeat;
    background-color: var(--color-white-background);

    transition: all 240ms ease-out;
}

.skill-search-input:active,
.skill-search-input:focus {
    outline: 1.5px solid var(--color-primary-logo);
    box-shadow: 0px 0px 8.6px 0px #5e71ee33;
}

.skill-search-options {
    width: 100%;
    max-height: 300px;
    padding: 8px;

    display: flex;
    flex-direction: column;

    background-color: var(--color-white-background);
    border-radius: 14px;
    border: 1px solid var(--color-gray-line);

    position: absolute;
    overflow-y: scroll;
    z-index: 1000;
}

.skill-search-options>li,
.skill-search-options-2>li {
    width: 100%;
    padding: 12px 8px;
    border-radius: 10px;

    cursor: pointer;
    transition: all 240ms ease;
}

.skill-search-options>li:hover,
.skill-search-options-2>li:hover {
    background-color: var(--color-primary-hover);
}

.skill-search__selected {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
}

.skill-search__selected>li {
    display: flex;
    flex-direction: row;
    gap: 4px;

    padding: 12px 16px;

    background-color: var(--color-gray);
    border-radius: 12px;
}

.skill-search__selected__delete {
    cursor: pointer;
}

.input-group-skillsearch {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    width: 100%;
}

.skill-search-options-2 {
    width: 100%;
    max-height: 300px;
    padding: 8px;
    display: flex;
    flex-direction: column;
    background-color: var(--color-white-background);
    border-radius: 14px;
    border: 1px solid var(--color-gray-line);
    position: absolute;
    overflow-y: scroll;
    z-index: 1000;
    top: 91px;
}